.body {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 3;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.subMenu {
  position: absolute;

  width: 300px;
  background-color: var(--bgWhite);
  border-radius: 8px;
  transition: opacity 0.15s ease-out;

  opacity: 0;
  visibility: hidden;
  z-index: 2;
}

.body--right {
  right: 0;
  width: 250px;
}

.subMenu li {
  padding: 0 6px;
}

.subMenu li:first-child {
  border-radius: 0 8px 0 0;
}
.body--right li:first-child {
  border-radius: 8px 0 0 0;
}
.subMenu li:last-child {
  border-radius: 0 0 8px 8px;
}

.subMenu--lvl2 {
  width: calc(100% - 50px);
  right: 0;
  border-radius: 0 0 0 8px;
}
.body--right .subMenu--lvl2 {
  left: 0;
}

.subMenu--lvl3 {
  left: 250px;
  top: 0;
  border-radius: 0 8px 8px 0;
}
