.main {
  /* min-height: calc(100vh - (110px + 90px)); */
  flex: 1;
  margin-bottom: 20px;
}

@media screen and (max-width: 950px) {
  .main {
    margin-top: 80px;
  }
}

@media screen and (min-width: 951px) {
  .main {
    margin-top: 100px;
  }
}
