.header {
  font-size: 15px;
  background-color: var(--bgWhite);
  border-bottom: 1px solid #dbdbdb;
  z-index: 4;
}

.wrapper {
  display: flex;
  align-items: center;
}

.logo {
  width: 80px;
  height: 80px;
  margin: 10px 0;
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 86px);
  margin: 16px 0 0 6px;
}

.primary {
  width: 100%;
}
.secondary {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  font-size: 13px;
  text-align: end;
  color: var(--menuLink);
}
